
<h1>Busqueda de peliculas</h1>
<form class="api/movie/form" action="index.html" method="put">
  <div >
    <label for="Imagen">Imagen:</label>
    <input type="text" name="imagen" >
  </div>
  <div>
    <label for="Fase">Fase:</label>
      <input type="text" name="fase" >
  </div>
  <div>
    <label for="ID">ID:</label>
    <input type="text" name="id" >
  </div>
  <div>
    <label for="Pelicula">Pelicula:</label>
    <input type="text" name="pelicula" >
  </div>
  <div>
    <label for="Estreno en EEUU">Estreno en EEUU:</label>
    <input type="text" name="estrenoEnEEUU" >
  </div>
  <div>
    <label for="Guionistas">Guionistas:</label>
    <input type="text" name="guionistas" >
  </div>
  <div>
      <label for="Productores">Productores:</label>
      <input type="text" name="productores" >
  </div>
  <div>
      <label for="Estado">Estado:</label>
      <input type="text" name="estado" >
  </div>
  <input type="submit"  value="Guardar">
</form>

<!--<h1>Busqueda de peliculas</h1>
<form action="/api/users/" method="get">
    <label for="id">ID</label>
    <input type="text" name="id">
  <button type="submit">Buscar</button>
</form>-->
