

<div class="jumbotron">
  <h1>Proyecto Final</h1>
  <p>Arias Pineda Cristian</p>
</div>

<h1>Alta de usuario</h1>
<form action="api/users/" method="post">
  <div >
    <label for="imagen">Imagen:</label>
    <input type="text" name="imagen" >
  </div>
  <div>
    <label for="fase">Fase:</label>
      <input type="text" name="fase" >
  </div>
  <div>
    <label for="id">ID:</label>
    <input type="text" name="id" >
  </div>
  <div>
    <label for="pelicula">Pelicula:</label>
    <input type="text" name="pelicula" >
  </div>
  <div>
    <label for="estreno en EEUU">Estreno en EEUU:</label>
    <input type="text" name="estrenoEnEEUU" >
  </div>
  <div>
    <label for="Guionistas">Guionistas:</label>
    <input type="text" name="guionistas" >
  </div>
  <div>
      <label for="Productores">Productores:</label>
      <input type="text" name="productores" >
  </div>
  <div>
      <label for="Estado">Estado:</label>
      <input type="text" name="estado" >
  </div>
  <button type="submit">Guardar</button>
</form>


<!--<h1>Busqueda de peliculas</h1>
<form action="/api/users/" method="get">
<div>
  <label for="ID">ID</label>
  <input type="text" name="id">
</div>
<div>
  <button type="submit">Buscar</button>
</div>
</form>-->


<!--<h1>Remplaza pelicula</h1>
<form action="api/users/" method="put">
  <div>
    <label for="id">ID:</label>
    <input type="text" name="id" >
  </div>
  <div >
    <label for="imagen">Imagen:</label>
    <input type="text" name="imagen" >
  </div>
  <div>
    <label for="fase">Fase:</label>
      <input type="text" name="fase" >
  </div>
  <div>
    <label for="pelicula">Pelicula:</label>
    <input type="text" name="pelicula" >
  </div>
  <div>
    <label for="estreno en EEUU">Estreno en EEUU:</label>
    <input type="text" name="estrenoEnEEUU" >
  </div>
  <div>
    <label for="Guionistas">Guionistas:</label>
    <input type="text" name="guionistas" >
  </div>
  <div>
      <label for="Productores">Productores:</label>
      <input type="text" name="productores" >
  </div>
  <div>
      <label for="Estado">Estado:</label>
      <input type="text" name="estado" >
  </div>
  <button type="submit">Guardar</button>
</form>
-->
